[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = JustCat80
	email = 50190590+JustCat80@users.noreply.github.com
	signingkey = 288D09947FDEC0EA5CFD157FBD43836B80313C91
[init]
	defaultBranch = main
[commit]
	gpgsign = true
